.container {
  position: relative;
  display: flex;
  width: 100;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.color-picker {
  border: none;
  background: none;
  width: 32px;
  height: 32px;
  user-select: none;
  appearance: none;
}

.color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.menu-container {
  z-index: 2;
}

.tools-container {
  display: flex;
  left: var(--margin-main);
  vertical-align: middle;
  padding: 6px;
  border-radius: 7.5px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border: var(--border-main);
  position: absolute;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
  justify-content: center;
  background: var(--background-color-main);
  z-index: 2;
}

.board-container {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  margin: 0;
  align-self: center;
  width: auto;
  height: auto;
  user-select: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board-container canvas,
div,
button {
  grid-row-start: 1;
  grid-column-start: 1;
}

.tool {
  flex-direction: row;
  column-gap: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
}

.tool-container {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 12px;
  cursor: pointer;
}

.menu-container {
  position: absolute;
  top: var(--margin-main);
  left: var(--margin-main);
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: var(--text-color-main);
  border-radius: 5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: var(--border-main);
}

.menu-items-container {
  background: var(--background-color-main);
  margin-top: 5px;
  padding: 7.5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: var(--border-main);
  position: relative;
  display: flex;
  flex-direction: column;
}

.menu-item-button {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--text-color-main);
  font-size: 14px;
  border-radius: 5px;
  padding: 6px 12px 6px 12px;
  width: 100%;
  border: none;
}

.center-button {
  position: absolute;
  bottom: var(--margin-main);
  padding: 10px 20px 10px 20px;
  width: fit-content;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: var(--border-main);
  z-index: 2;
}

.separator {
  width: 100%;
  margin: 7.5px 0 7.5px 0;
  border-bottom: var(--border-main);
}

.background-picker {
  position: absolute;
  opacity: 0;
}
