@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

.container {
  position: relative;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.color-picker {
  border: none;
  background: none;
  width: 46px;
  height: 46px;
  user-select: none;
  appearance: none;
}

.color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.tools-container {
  display: flex;
  left: 20px;
  vertical-align: middle;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  position: absolute;
  flex-direction: column;
  row-gap: 1em;
  align-items: center;
  justify-content: center;
  background: white;
  outline: 2px solid #f2f2f2;
  z-index: 2;
}

.board-container {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  margin: 0;
  align-self: center;
  width: auto;
  height: auto;
  user-select: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board-container div,
.board-container canvas {
  grid-row-start: 1;
  grid-column-start: 1;
}

.tool {
  flex-direction: row;
  column-gap: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
}

.tool-container {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 15px;
}